body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
h3{
    color: white;
}
p{
    color: white;
    text-align: justify;
    padding-bottom: 15px;
}
.spanColor{
    color: orange;
}
.flex-container{
    display: flex;
    padding: 50px;
}
.half-width{
    width: 50%;
    padding: 20px 30px;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.top-banner{
    background-image: url(/image/d-2.jpg);
}
.d-h1{
    color: black;
}
.d-h3{
    color: black;
}
.d-p{
    color: black;
    padding-right: 180px;
}
.dream-big{
    background-image: url(/image/Lovepik.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right;
    background-position-y: 200px;
}
.experience{
    background-image: url(/image/Lovepik.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left;
    background-position-y: 250px;

}
.h1-xp{
    color: black;
}
.h3-xp{
    color: orange;
}
.p-xp{
    color: black;
}

.expItems{
    text-align: justify;
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    box-shadow: 10px 10px 70px gray;
    border-radius: 10px;
    border-left: 10px linear-gradient(orange, tomato);
}
#expItemsId{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.f{
    color: black;
}